:root {
    /* Colores */
    --light-Salmon: #FFA07A;
    --light-Green: #45B39D;
    --just-white: #FFFFFF;
    --bold-Red: #BA4A00;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    height: 50px;
    text-align: center;
}
.header--title-container {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: 250px;
    margin-top: 35px;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--light-Green);
}
main {
    width: 100%;
    height: auto;
    background-color: var(--just-white);
    margin-bottom: 50px;
}
.main-button-container {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
} 
.main-button-container button{
    width: 150px;
    height: 48px;
    background-color: var(--light-Salmon);
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    font-family: 'DM Sans', sans-serif;
}
.main-img-container {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: center;
    text-align: center;
}
.main-img-container img {
    min-width: 288px;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-img-container button{
    width: 150px;
    height: 48px;
    background-color: var(--light-Salmon);
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    font-family: 'DM Sans', sans-serif;
}
.main-fav-container {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: center;
    text-align: center;
}
.main-fav-container img {
    min-width: 288px;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-fav-container button{
    width: 150px;
    height: 48px;
    background-color: var(--light-Salmon);
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    font-family: 'DM Sans', sans-serif;
}
.main--title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    height: 50px;
    text-align: center;
}
.title-container {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: 250px;
    margin-top: 35px;
    align-self: center;
}
.title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--light-Green);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--bold-Red);
}
footer p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}